body {
  background-image: url("./images/space.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*  */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgb(12, 12, 14);
}

::-webkit-scrollbar-thumb {
  background-image: url("./images/rocket.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 20px;
}

.start {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.middlepos {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fade {
  opacity: 0;
}

div {
  width: 400px;
  word-break: break-word;
  transition: all 0.5s;
  position: fixed;
  top: 50%;
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  padding: 20px;
}

.left {
  left: 0px;
}

.goLeft {
  left: -500px;
}

.right {
  right: 0px;
}

.goRight {
  right: -500px;
}

.bottom-center {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

button {
  position: fixed;
  background-color: rgb(75, 75, 87);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn {
  bottom: 10px;
  left: 10px;
}

.btn-center {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rad {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
}

@media screen and (max-width: 1024px) {

  .bottom-center {
    top: 3%;
    height: 50px;
    height: min-content;
  }

  .left {
    top: 5%;
    left: 0px;
    width: 93%;
  }

  .right {
    top: initial;
    bottom: 5%;
    left: 0px;
    width: 70%;

  }

  button {
    font-size: 13px;
  }
}

/* @media screen and(max-width: 768px) {
    
  } */